.DS_Store
.pycache/
node_modules/
backend/node_modules/
backend/.env
admin-web/.env.local
backend/.venv/
backend/**/__pycache__/
backend/*.egg-info/
frontend/**/*.xcuserdata/
frontend/**/*.xcuserstate
frontend/**/xcuserdata/
